/*
 * @Description: <修改element-plus 暗黑模式样式>
 * @Author: menggt littlecandyi@163.com
 * @Date: 2023-09-06 17:09:22
 * @LastEditors: menggt littlecandyi@163.com
 * @LastEditTime: 2023-09-14 16:21:47
 */

/* html.dark {

} */

html.dark .menu-box .el-menu-item:hover {
	--el-menu-hover-bg-color: var(--el-color-primary-light-5);
}

html.dark .menu-box .el-sub-menu__title:hover {
	--el-menu-hover-bg-color: var(--el-color-primary-light-5);
}

html.dark .menu-box .el-sub-menu .el-menu--inline {
	--el-menu-bg-color: var(--el-bg-color);
}

html.dark .menu-box .el-menu-item.is-active,
html.dark .menu-box .el-menu--collapse .el-sub-menu.is-active > .el-sub-menu__title,
html.dark .menu-box .el-sub-menu .el-menu--inline .el-menu-item.is-active {
	background-color: var(--el-color-primary-light-5);
}
