/*
 * @Description: 全局 css
 * @Author: menggt littlecandyi@163.com
 * @Date: 2023-05-22 11:06:50
 * @LastEditors: smellycat littlecandyi@163.com
 * @LastEditTime: 2024-05-06 00:43:22
 */

html,
body,
#app {
	@apply w-screen h-screen;
}

/* 去除蓝色边框 */
:focus {
	outline: 0;
}

/* tags-view 拖动占位 */
.tag-ghost {
	opacity: 0 !important;
}

/* 隐藏滚动条 */
.scrollbar-hidden::-webkit-scrollbar {
	display: none;
}
